* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* nav section */
.container {
    max-width: 1550px;
    margin: 0 auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #575757;
}

.nav-links a:hover {
    color: #7b7b7b;
}

.register-btn {
    text-decoration: none;
    background-color: #1d4ed8;
    color: #ffffff;
    height: 48px;
    width: 188px;
    border: 4px;
    border-radius: 10px;
    padding: 12px 41.5px;
    font-weight: bold;
    cursor: pointer;
}

.register-btn:hover {
    background: #3862d5;
}

/* hero section */
.hero {
    height: 100vh;
    background-image: url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 950px;
    color: white;
    padding: 20px;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: 700px;
    margin-bottom: 31px;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.hero-content button {
    margin-top: 280px;
}

.hero-content .hero-btn {
    text-decoration: none;
    background-color: #1d4ed8;
    color: white;
    height: 74px;
    width: 282px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
}

.hero-content .hero-btn:hover {
    background: #3359bf;
}

/* meet the speakers section */
.speakers-corner {
    padding: 80px 60px;
}

.meet-speakers-title {
    text-align: center;
    font-size: 56px;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 56px;
    gap: 32px;
    /* height: 644px;
    width: 460px; */
}

.speaker-card {
    border: 1px solid rgb(228, 225, 225);
    border-radius: 12px;
    overflow: hidden;
}

.speaker-card:hover {
    background: #f8e9e9;
}

.speaker-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.track {
    margin: 24px 24px 8px 24px;
    color: #2563eb;
    font-size: 12px;
    font-weight: 600px;
}

.speaker-card h3 {
    font-size: 20px;
    margin: 24px 2px 8px 24px;
}

.designation {
    margin: 20px 2px 35px 24px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.5px;
}

/* for secure your spot section  */
.pricing {
    padding: 0 60px 80px 60px;
}

.secure-section-title {
    text-align: center;
    font-size: 48px;
    color: #0d1b2a;
    margin-bottom: 12px;
}

.price-subtitle {
    text-align: center;
    color: #575757;
    font-weight: 400px;
}

.display-pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 80px 0px 80px;
    gap: 24px;
}

.pricing-card {
    padding: 32px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.pricing-card p {
    color: #888888;
    font-size: 13px;
    font-weight: 600px;
}

.pricing-card .price {
    font-size: 44px;
    font-weight: 700px;
    padding-top: 8px;
    /* padding-bottom: 4px; */
    color: #0d1b2a;
}

.pricing-card hr {
    color: #e5e7eb;
    margin: 20px 0;
}

.pricing-card ul,
.highlighted-pricing-card ul {
    margin-bottom: 20px;
    padding-left: 14px;
}

.pricing-card ul li,
.highlighted-pricing-card li {
    margin-bottom: 10px;
}

.pricing-card ul li::marker {
    color: #2563eb;
}

.pricing-btn {
    padding: 12px 0;
    border-radius: 8px;
    border: 1px solid #2563eb;
    width: 100%;

    text-align: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 600px;
    color: #2563eb;
}

.pricing-btn:hover {
    background-color: #dde4f4;
}

.highlighted-pricing-card {
    padding: 32px;
    border: 1px solid #0d1b2a;
    border-radius: 12px;
    background-color: #0d1b2a;
    color: white;
    display: flex;
    flex-direction: column;
}

.highlighted-pricing-card p {
    font-size: 13px;
    font-weight: 600px;
    color: #93c5fd;
}

.highlighted-pricing-card .price {
    padding-top: 8px;
    font-size: 44px;
    font-weight: 700px;
    color: white;
}

.highlighted-pricing-card .subtitle {
    padding-top: 100px;
    font-weight: 400px;
    color: #888888;
}

.highlighted-pricing-card hr {
    height: 1px;
    background-color: #1d2937;
    border: none;
    margin: 20px 0;
}
.highlighted-pricing-card ul li::marker {
    color: #2563eb;
}
.highlighted-pricing-card .pricing-btn{
    background: #2563eb;
    color: white;
}
.highlighted-pricing-card .pricing-btn:hover{
    background-color: #2051b9;
}